@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', Sans-Serif;
  text-decoration: none;
}

#about img {
  box-shadow: 0 0 5px #000;
}

#galeri img {
  width: 190px;
  height: 150px;
  margin-bottom: 5px;
}

#order .card {
  width: 250px;
  box-shadow: .4rem .4rem #05060f;
  margin: 0 auto;
  margin-bottom: 100px;
}

#order  .btn {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact2 div {
  margin-bottom: 50px;
}

#contact2 i {
  font-size: 30px;
  color: #F79327;
}